#############################
## My Modified Ignore File ##
#############################

# Nim Folder Ignores
Nim/[Dd]ebug/
Nim/*.dll
Nim/*.vcxproj
Nim/*.filters
Nim/*.user

# Main Directory Ignores
[Dd]ebug/
ipch/
*.opensdf
*.sdf
*.sln
*.suo